In [4]:
def test():
    print("this is a function")

In [8]:
test()+"kkk"

this is a function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [9]:
def test2():
    return "this is my very first return "

In [10]:
test2()

'this is my very first return '

In [11]:
test2()+"chandan"

'this is my very first return chandan'

In [22]:
def test3():
    return "chandan",23,345,[1,2,3,4,5]

In [23]:
a,b,c,d= test3()

In [24]:
a

'chandan'

In [25]:
b

23

In [26]:
c

345

In [27]:
d

[1, 2, 3, 4, 5]

In [30]:
a,b=1,2
a

1

In [31]:
def test4():
    a=5+6/7
    return a

In [32]:
test4()

5.857142857142857

In [36]:
def test5(a,b,c):
    d=a+b/c
    return d

In [37]:
test5(55,8,9)

55.888888888888886

In [38]:
def test6(a,b):
    return a+b

In [39]:
test6(3,4)

7

In [40]:
test6('chandan','kumar')

'chandankumar'

In [41]:
test6([1,2,3,4],[55,55,66])

[1, 2, 3, 4, 55, 55, 66]

In [50]:
l2=[1,2,3,4,'chandan','kumar',[1,2,3,4,5,6]]

In [54]:
def test7(l):
    l1=[]
    for i in l:
     if type(i)==int or type(i)==float:
        l1.append(i)
    return l1

In [55]:
test7(l2)

[1, 2, 3, 4]

In [58]:
def test8(a) :
    """this is my function to extract numeric  data from list"""
    l= []
    for i in a :
        if type(i) == list:
            for j in i :
                l.append(j)
        else :
            if type(i) == int or type(i) == float :
                l.append(i)
    return l

In [59]:
test8(l2)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [60]:
def test10(a,b):
    return a+b

In [61]:
def test11(*args):
  return args

In [62]:
test11(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)